@model FoodReady.WebUI.Models.GroupCheckoutModel
@{
    ViewBag.Title = "Checkout";
}
<script src="@Url.Content("~/Scripts/FRJqueryScripts/copyAddressJS.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/FRJqueryScripts/RemainingCharacterCount.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/FRJqueryScripts/groupCheckoutJS.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/FRJqueryScripts/CheckoutSlideUpDown.js")" type="text/javascript"></script>
<div class="container-full titlepadding">
    <div class="container">
        <div class="row">
            <h1 style="color:#ffffff;" class="checkoutTitle">
                CHECK OUT
            </h1>
        </div>
    </div>
</div>

<div class="container toppadding">
    <div id="complete" class="row">
        <div>
            <div class="col-sm-7 col-md-7 boxShadow" style="margin-bottom:10px;padding-top:20px;">
                <div>
                    @Html.Partial("_GroupPayWithCreditCard", Model)
                </div>
            </div>
            <div class="col-sm-5 col-md-5">
                @Html.Partial("_GroupCartInfo", Model.GroupCheckoutCart)
                <p>
                    @Html.ActionLink("Back to menu", "Share", "Group", new { groupid = Model.GroupCheckoutCart.SharedCartKey, bizid = Model.GroupCheckoutCart.PartyCart[Model.GroupCheckoutCart.PartyBossName].BizId }, null)
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="divfailed" class="hide">
            <div class="col-sm-12 col-md-12">
                <p>
                    Sorry, The transction and payment you have just made failed. No charge is made.
                    This could be many reasons including expired card, mismatch of credit card numbers,
                    CSC numbers, card holder name, billing address. Please <a href="/Checkout/Index">
                        try
                        again
                    </a>and make sure all required information are correct.
                </p>
                <p>
                    If you have any questions, please call at @ViewBag.servicephone. Thank you for your ordering
                    with foodready.net.
                </p>
                <p>
                    @Html.ActionLink("Back to menu", "Share", "Group", new { groupid = Model.GroupCheckoutCart.SharedCartKey, bizid = Model.GroupCheckoutCart.PartyCart[Model.GroupCheckoutCart.PartyBossName].BizId }, null)
                 </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div id="divsuccess">
            </div>
        </div>
    </div>
</div>