@model FoodReady.WebUI.Models.AddSideModel
@using FR.Infrastructure.Helpers

@{
    ViewBag.Title = "Manage AddSide";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="titlebox boxShadow">
    <center>
        <h1>(@Model.Bizinfo.BizTitle) Manage Add Side for @Model.Product.Title (@Model.LAddSide.Count)</h1>
    </center>
</div>
@ViewBag.result
<div class="container boxShadow boxpadding">
    <table class="table table-striped table-hover">
        <tr>
            <th>
                Title
            </th>
            <th>
                Price
            </th>
            <th>
                Restaurant Price
            </th>
            <th>
                Active
            </th>
        </tr>
        @foreach (var p in Model.LAddSide)
        {
            <tr>
                <td>
                    @Html.ActionLink(p.Title, "EditAddSide", "admin", new { id = p.AddSideId, bizid = Model.BizInfoID }, null)<br />
                </td>
                <td>
                    $@p.Price.ToString("N2")
                </td>
                <td>
                    $@p.BizPrice.ToString("N2")
                </td>
                <td>
                    <div id="@Url.Content("item" + p.AddSideId)" class="deleteButtons">
                        @using (Ajax.BeginForm("DoAddSide", "Admin", new { id = p.AddSideId },
                        new AjaxOptions
                        {
                            UpdateTargetId = @Url.Content("item" + p.AddSideId),
                            OnBegin = "onFreeItemBegin('" + p.AddSideId + "')",
                            OnSuccess = "onFreeItemSuccess('" + p.AddSideId + "')",
                            OnFailure = "onFreeItemFailure('" + p.AddSideId + "')",
                            Confirm = "Do you want to " + @Url.Content(p.Active ? "lock" : "unlock") + " the item: " + p.Title + " ?"
                        }))
                        {

                            <input class="@Url.Content(p.Active ? "deactiveButtons" : "activeButtons")" type="submit" title="@Url.Content(p.Active ? "To lock item" : "To unlock item")" value="" />
                        }
                    </div>
                </td>
            </tr>
        }
    </table>
</div>
<p></p>
<div class="titlebox boxShadow">
    <center>
        <h3>Add a side item to "@Model.Product.Title"</h3>
    </center>
</div>
@ViewBag.result
<p></p>
<div id="create" class="container boxShadow boxpadding">
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(e => e.BizInfoID)
        @Html.HiddenFor(e => e.ProductID)
        <div class="form-group">
            @Html.LabelFor(m => m.Title)
            @Html.TextBoxFor(m => m.Title, new { @class = "form-control boxShadow" })
            @Html.ValidationMessageFor(m => m.Title)
        </div><br />
        <div class="form-group">
            @Html.LabelFor(m => m.Description)
            @Html.ValidationMessageFor(m => m.Description)
            @Html.TextAreaFor(m => m.Description, 3, 50, new { @class = "form-control boxShadow" })
            <div class="remaining">
                Characters remaining: <span class="count">512</span>
                <input id="btnClear" type="button" value="Reset Text" style="margin-left: 40px;" />
            </div>
        </div><br />
        <div class="form-group">
            @Html.LabelFor(m => m.Price)
            @Html.TextBoxFor(m => m.Price, new { @class = "form-control boxShadow" })
            @Html.ValidationMessageFor(m => m.Price)
        </div><br />
        <div class="form-group">
            @Html.LabelFor(m => m.BizPrice)
            @Html.TextBoxFor(m => m.BizPrice, new { @class = "form-control boxShadow" })
            @Html.ValidationMessageFor(m => m.BizPrice)
        </div><br />
        <div class="form-group pull-right">
            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Add</button>
        </div><br />
        <div class="form-group">
            <p>@Html.ActionLink("Back to Manage Products " + Model.Bizinfo.BizTitle, "ManageProducts", "admin", new { id = Model.Product.CategoryId, bizid = Model.BizInfoID }, null)</p>
        </div>
    }
</div>