@model FoodReady.WebUI.Models.CheeseAmountModel
@using FR.Infrastructure.Helpers
@{
    ViewBag.Title = "Manage Cheese Amount";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="titlebox boxShadow">
    <center>
        <h1>(@Model.Bizinfo.BizTitle) Manage Cheese Amount for @Model.Product.Title (@Model.LCheeseAmount.Count)</h1>
    </center>
</div>
@ViewBag.result
<div class="container boxShadow boxpadding">
    <table class="table table-striped table-hover">
        <tr>
            <th>
                Title
            </th>
            <th>
                Price
            </th>
            <th>
                Restaurant Price
            </th>
            <th>
                Active
            </th>
        </tr>
        @foreach (var p in Model.LCheeseAmount)
        {
            <tr>
                <td>
                    @Html.ActionLink(p.Title, "EditCheeseAmount", "admin", new { id = p.CheeseAmountId, bizid = Model.BizInfoID }, null)<br />
                </td>
                <td>
                    $@p.Price.ToString("N2")
                </td>
                <td>
                    $@p.BizPrice.ToString("N2")
                </td>
                <td>
                    <div id="@Url.Content("item" + p.CheeseAmountId)" class="deleteButtons">
                        @using (Ajax.BeginForm("DoCheeseAmount", "Admin", new { id = p.CheeseAmountId },
                        new AjaxOptions
                        {
                            UpdateTargetId = @Url.Content("item" + p.CheeseAmountId),
                            OnBegin = "onFreeItemBegin('" + p.CheeseAmountId + "')",
                            OnSuccess = "onFreeItemSuccess('" + p.CheeseAmountId + "')",
                            OnFailure = "onFreeItemFailure('" + p.CheeseAmountId + "')",
                            Confirm = "Do you want to " + @Url.Content(p.Active ? "lock" : "unlock") + " the item: " + p.Title + " ?"
                        }))
                        {

                            <input class="@Url.Content(p.Active ? "deactiveButtons" : "activeButtons")" type="submit" title="@Url.Content(p.Active ? "To lock item" : "To unlock item")" value="" />
                        }
                    </div>
                </td>
            </tr>
        }
    </table>
</div>
<p></p>
<div class="titlebox boxShadow">
    <center>
        <h3>Copy CheeseAmount to @Model.Product.Title</h3>
    </center>
</div>
<p></p>
<div class="container boxShadow boxpadding">
    @if (Model.CheeseProducts != null && Model.CheeseProducts.Count > 0)
    {
        using (Html.BeginForm("CopyProductCheeseAmount", "Admin", new { idto = Model.ProductID, bizid = Model.BizInfoID }))
        {
            <div class="col-sm-8 col-md-8">
                @Html.DropDownList("idfrom", Model.CheeseProducts, new { @class = "form-control boxShadow" })
            </div>
            <div class="col-sm-4 col-md-4">
                <input type="submit" value="Copy Cheese Amount Choices" class="btn btn-primary btn-sm" />
            </div>
        }
    }
</div>
<p>
</p>
<div class="titlebox boxShadow">
    <center><h3>Add a cheese amount item to "@Model.Product.Title"</h3>
        <p>
            One of: Regular, No cheese please, Light, Extra
        </p></center>
</div>
@ViewBag.result
<div id="create" class="container boxShadow boxpadding">
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(e => e.BizInfoID)
        @Html.HiddenFor(e => e.ProductID)
    <div class="form-group">
        @Html.LabelFor(m => m.Title)
        @Html.TextBoxFor(m => m.Title, new { @class = "form-control boxShadow" })
        @Html.ValidationMessageFor(m => m.Title)
    </div><br />
        <div class="form-group">
            @Html.LabelFor(m => m.Description)
            @Html.ValidationMessageFor(m => m.Description)
            @Html.TextAreaFor(m => m.Description, 3, 50, new { @class = "form-control boxShadow" })
            <div class="remaining">
                Characters remaining: <span class="count">512</span>
                <input id="btnClear" type="button" value="Reset Text" style="margin-left: 40px;" />
            </div>
        </div><br />
        <div class="form-group">
            @Html.LabelFor(m => m.Price)
            @Html.TextBoxFor(m => m.Price, new { @class = "form-control boxShadow" })
            @Html.ValidationMessageFor(m => m.Price)
        </div><br />
        <div class="form-group">
            @Html.LabelFor(m => m.BizPrice)
            @Html.TextBoxFor(m => m.BizPrice, new { @class = "form-control boxShadow" })
            @Html.ValidationMessageFor(m => m.BizPrice)
        </div><br />
        <div class="form-group pull-right">
            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Add</button>
        </div><br />
        <div class="form-group">
            <p>@Html.ActionLink("Back to Manage Products " + Model.Bizinfo.BizTitle, "ManageProducts", "admin", new { id = Model.Product.CategoryId, bizid = Model.BizInfoID }, null)</p>
        </div>
    }
</div>
