@model FoodReady.WebUI.Models.BizInfoModel
@{
    ViewBag.Title = Model.CuisineName;
}
<script src="@Url.Content("~/Scripts/FRJqueryScripts/searchBoxJS.js")" type="text/javascript"></script>
@section scripts{
    <script type="text/javascript">
        $(function () {
            $("input#autoZipcode").autocomplete({
                source: '@Url.Action("ZipCodes", "Home")',
                minLength: 1,
                select: function (event, ui) {
                    //deliv = $("input[@@name='DeliveryGroup']:checked").val();
                    addr = $("input#autoAddress").val();
                    zip = ui.item.value;
                    if (addr == "Your Street, City, State (Required)") {
                        addr = "";
                    }
                    if (addr == "") {
                        $("#geomsg").html("Please enter your address, city, state.").show("slow"); return;
                    }
                    if (zip == "Your Zip Code (Required)") {
                        zip = "";
                    }

                    var value = zip.split("---");
                    zip = value[0];

                    if ($.trim(zip).length != 5) return;

                    var postData = '{"address":"' + addr + '","zipcode":"' + zip + '"}';
                    $.ajax({
                        url: '/Home/ValidateAddress',
                        type: 'POST',
                        data: postData,
                        dataType: 'json',
                        contentType: 'application/json; charset=utf-8',
                        success: function (result) {
                            if (result.resp == "OK") {
                                location.href = "/Restaurants" + "?address=" + addr + "&zip=" + zip;
                            }
                            else {
                                $("#geomsg").html("Invalid address! Please try again.").show("slow");
                            }
                        }
                    });
                }
            });
        });
    </script>}
@Html.Partial("_SearchCuisine1Partial")
<div class="container toppadding">
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <h2 style="color:#1E7CB8;">
                <b>Browse @Model.CuisineName Delivery Restaurants by City</b>
            </h2>
        </div>
    </div>
    <hr />
    <div class="row">
        @Html.Raw(Model.ShowCities)
    </div>
</div>
