@model FoodReady.WebUI.Models.GroupCheckoutModel
@using FR.Infrastructure.Helpers

@{var str = Model.GroupCheckoutCart.IsPartyDelivery ? "Delivery" : "Pickup";}
@{var charge = Model.GroupCheckoutCart.IsPartyDelivery ? "Delivery Charge:" : "";
  var fee = Model.GroupCheckoutCart.IsPartyDelivery ? Helper.DeliveryFee(Model.GroupCheckoutCart.PartyDeliveryFee()) : "";}
<div class="row">
    <div class="col-sm-6 col-md-6" style="border-right:solid 1px lightblue;">
        <table class="table table-striped">
            <tr>
                <td> Order Type:</td>
                <td>@str</td>
            </tr>
            <tr>
                @if (Model.GroupCheckoutCart.IsPartyDelivery)
                {
                    <td>
                        Delivery to:
                    </td>
                    <td>
                        @Model.FirstName @Model.LastName<br />
                        @if (string.IsNullOrEmpty(Model.RoomNumber) == false)
                        {
                            <text>#@Model.RoomNumber</text>  <br />
                        }
                        @Model.AddressLine<br />
                        @Model.City, @Model.State @Model.ZipCode
                    </td>
                }
                else
                {
                    <td>
                        Pickup by:
                    </td>
                    <td>
                        @Model.FirstName  @Model.LastName
                    </td>
                }
            </tr>
            <tr>
                <td>
                    Billing to:
                </td>
                <td>@Model.BillFirstName @Model.BillLastName</td>
            </tr>
            <tr>
                <td>Card Type:</td>
                <td>@Helper.GetCardNameByTypeValue(Model.CardType)</td>
            </tr>
            <tr>
                <td>Card Number:</td>
                <td>@Model.CardNumber</td>
            </tr>
            <tr>
                <td>Security Code:</td>
                <td>@Model.SecurityCode</td>
            </tr>
            <tr>
                <td>Expire:</td>
                <td>@Model.ExpirationMonth / @Model.ExpirationYear</td>
            </tr>
            <tr>
                <td>Phone</td>
                <td>@Model.Phone</td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>@Model.Email</td>
            </tr>
        </table>
    </div>
    <div class="col-sm-6 col-md-6">
        <table class="table table-striped">
            <tr>
                <td>
                    Scheduled Time:
                </td>
                <td>
                    @Model.GroupCheckoutCart.PartyScheduleTime,  @Helper.GetScheduleDate(Model.GroupCheckoutCart.PartyScheduleDate)
                </td>
            </tr>
            <tr>
                <td><b>Subtotal:</b></td>
                <td><b>$@Model.GroupCheckoutCart.PartySubTotal().ToString("N2")</b></td>
            </tr>
            <tr>
                <td>Tax (@Model.GroupCheckoutCart.PartyTaxRate.ToString("N2")%):</td>
                <td><span id="tax">@Helper.ToUSD(Model.GroupCheckoutCart.PartyTax().ToString("N2"))</span></td>
            </tr>
            <tr>
                <td>@charge</td>
                <td>@fee</td>
            </tr>
            <tr>
                @if (Model.GroupCheckoutCart.PartyServiceCharge > 0.0m)
                {
                    <td>Service Charge:</td>
                    <td><span id="Service">@Helper.DeliveryFee(Model.GroupCheckoutCart.PartyServiceCharge)</span></td>
                }
                else
                {
                    <td>Service Charge:</td>
                    <td>$0.00</td>
                }
            </tr>
            <tr>
                @if (Model.GroupCheckoutCart.PartyDriverTip() > 0.0m)
                {
                    <td>Driver Tip:</td>
                    <td>$@Model.GroupCheckoutCart.PartyDriverTip().ToString("N2")</td>
                }
                else
                {
                    <td>Tip:</td>
                    <td>$0.00</td>
                }
            </tr>
            <tr>
                <td>Instructions:</td>
                <td>@Model.Instructions</td>
            </tr>
            <tr><td colspan="2"></td></tr>
            <tr>
                <td><h3>Total:</h3></td>
                <td><h3 id="cartTotal" style="color: Red;">@Helper.ToUSD(Model.GroupCheckoutCart.PartyTotal().ToString("N2"))</h3></td>
            </tr>
        </table>
    </div>
</div>
<hr />
