@model IdentitySample.Models.MyDetailModel
@using FR.Infrastructure.Helpers
<center>
    <h3><b>Edit Profile</b></h3>
</center>
<hr />
@using (Ajax.BeginForm("EditProfile", "Manage", new AjaxOptions
    {
        UpdateTargetId = "myprofile",
        OnBegin = "onAjaxBegin",
        OnSuccess = "onAjaxSuccess",
        OnFailure = "onAjaxFailed"
    }))
{
    @Html.HiddenFor(e => e.UserDetailID)
    @Html.HiddenFor(e => e.UserID)
    <div class="col-sm-6 col-md-6" style="border-right:solid 1px maroon">
        <div class="form-group">
            @Html.LabelFor(m => m.FirstName)
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control boxShadow" })
            @Html.ValidationMessageFor(m => m.FirstName)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.LastName)
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control boxShadow" })
            @Html.ValidationMessageFor(m => m.LastName)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.AddressLine)
            @Html.TextBoxFor(m => m.AddressLine, new { @class = "form-control boxShadow" })
            @Html.ValidationMessageFor(m => m.AddressLine)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.CrossStreet)
            @Html.TextBoxFor(m => m.CrossStreet, new { @class = "form-control boxShadow" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.City)
            @Html.TextBoxFor(m => m.City, new { @class = "form-control boxShadow" })
            @Html.ValidationMessageFor(m => m.City)
        </div>
    </div>
    <div class="col-sm-6 col-md-6">
        <div class="form-group">
            @Html.LabelFor(m => m.State)
            @Html.DropDownListFor(x => x.State, Helper.StateDropdownData(null), "Choose a State", new { @class = "form-control boxShadow" })
            @Html.ValidationMessageFor(m => m.State)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ZipCode)
            @Html.TextBoxFor(m => m.ZipCode, new { @class = "form-control boxShadow" })
            @Html.ValidationMessageFor(m => m.ZipCode)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Phone)
            @Html.TextBoxFor(m => m.Phone, new { @class = "form-control boxShadow" })
            @Html.ValidationMessageFor(m => m.Phone)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control boxShadow" })
            @Html.ValidationMessageFor(m => m.Email)
        </div>
        <div class="form-group">
            <div id="loading" class="loadDiv">
                <img id="loader" src="../../Content/Images/ajaxloader.gif" />
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Update" title="Update" class="btn btn-primary" /> @Html.ActionLink("Cancel", "Index", "Manage", routeValues: null, htmlAttributes: new { @class = "username btn btn-primary", title = "Cancel" })
        </div>
    </div>
}
