@model FoodReady.WebUI.Models.CheckoutModel
@using FR.Infrastructure.Helpers
@using FoodReady.WebUI.HtmlHelpers
<div id="paycard">
    @using (Ajax.BeginForm("CheckoutConfirmation", "Checkout", new AjaxOptions
    {
        UpdateTargetId = "popupbody2",
        OnBegin = "onPopup2Begin",
        OnSuccess = "onPopup2Success",
        OnFailure = "onPopup2Failed"
    }, new { @id="creditcard-form"}))
    {
        <div>
            @Html.Partial("_ShippingInfo", Model)
            @Html.Partial("_PaymentInfo", Model)
            @Html.Partial("_ContactInfo", Model)
            <div id="orderSchedule" style="display: none;">
            </div>

            <div class="form-group">
                <b>Order scheduled for</b>
                <div class="input-group">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-cog"></span>
                    </span>
                @Html.DropDownListFor(e => e.ScheduleDate, Model.ScheduleAssistances, new { @class = "form-control boxShadow" })
                </div>
            </div>
            <div class="form-group">
                <b>At time</b>
                <div class="input-group">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-time"></span>
                    </span>
               @Html.DropDownListFor(e => e.ScheduleTime, Model.TimeAssistances, new { @class = "form-control boxShadow" })
                </div>
            </div>
            <div style="clear: both;">
            </div>
            <div class="form-group">
                <b>Special Instructions</b> (Example: less salt, etc. Additional charges may apply.)
                <div class="float-left">
                    @Html.TextAreaFor(m => m.Instructions, 2, 40, new { @class = "form-control boxShadow" })
                    <div class="remaining">
                        Characters remaining: <span class="count">512</span>
                        <input id="btnClear" type="button" value="Clean Text" />
                    </div>
                </div>
            </div>
            <div style="clear: both;">
            </div><br />
            <div class="form-group">
                <button type="button" onclick="$('#creditcard-form').submit();" class="btn btn-lg btn-primary" title="Continue to check out">Continue to check out &nbsp;&nbsp; <span class="glyphicon glyphicon-hand-right"></span></button>
            </div>
        </div>
    }
</div>
