@model FoodReady.WebUI.Models.CheckoutPayPalModel
<p class="midTitle">
    Contact Info
</p>
<div id="PPcontactInfo">
    <div class="form-group">
        @Html.LabelFor(m => m.PPPhone)
        <div class="input-group">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-phone"></span>
            </span>
            @Html.TextBoxFor(m => m.PPPhone, new { @class = "form-control boxShadow" })
            @Html.ValidationMessageFor(m => m.PPPhone)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.PPEmail)

        <div class="input-group">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-envelope"></span>
            </span>
            @Html.TextBoxFor(m => m.PPEmail, new { @class = "form-control boxShadow" })
            @Html.ValidationMessageFor(m => m.PPEmail)
        </div>
    </div>
</div><hr />

