@model FoodReady.WebUI.Models.ResetDriverPasswordModel

@{
    ViewBag.Title = "Reset Driver Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-full titlepadding">
    <div class="container">
        <div class="row">
            <h1 style="color:#ffffff;">
                Reset Driver Password
            </h1>
        </div>
    </div>
</div>

<div class="container toppadding">
    <div class="row" style="padding-left:10px;padding-right:10px;">
        @using (Html.BeginForm())
        {
            <div class="col-sm-offset-3 col-md-offset-3">
                <p> @TempData["resetMsg"]</p>
                <div class="form-group">
                    @Html.LabelFor(m => m.Name)
                    <div class="input-group">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-user"></span>
                        </span>
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control boxShadow" })
                        @Html.ValidationMessageFor(m => m.Name)
                    </div>
                </div><br />
                <div class="form-group">
                    @Html.LabelFor(m => m.OldPassword)
                    <div class="input-group">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-lock"></span>
                        </span>
                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control boxShadow" })
                        @Html.ValidationMessageFor(m => m.OldPassword)
                    </div>
                </div><br />
                <div class="form-group">
                    @Html.LabelFor(m => m.NewPassword)
                    <div class="input-group">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-lock"></span>
                        </span>
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control boxShadow" })
                        @Html.ValidationMessageFor(m => m.NewPassword)
                    </div>
                </div><br />
                <div class="=form-group">
                    @Html.LabelFor(m => m.ConfirmNewPassword)
                    <div class="input-group">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-lock"></span>
                        </span>
                        @Html.PasswordFor(m => m.ConfirmNewPassword, new { @class = "form-control boxShadow" })
                        @Html.ValidationMessageFor(m => m.ConfirmNewPassword)
                    </div>
                </div><br />
                <div class="form-group" style="margin-bottom:40px;">
                    <br />
                    <button type="submit" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-ok"></span> &nbsp; change password</button>
                </div>
            </div>
        }
    </div>
</div>
