@model IdentitySample.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}
<div class="container-full titlepadding">
    <div class="container">
        <div class="row">
            <h1 style="color:#ffffff;"> Change Password</h1>
        </div>
    </div>

</div>
<div class="container toppadding">
    <div class="row toppadding">
        <div class="col-md-12 col-sm-12">
            @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.OldPassword)

                    <div class="input-group">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-lock"></span>
                        </span>
                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control boxShadow" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.NewPassword)
                    <div class="input-group">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-lock"></span>
                        </span>
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control boxShadow" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword)
                    <div class="input-group">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-lock"></span>
                        </span>
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control boxShadow" })
                    </div>
                </div>

                <div class="form-group">
                    <input id="chgpsubmit" type="submit" value="Change password" class="btn btn-primary" />
                </div>
            }
        </div>
        </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
