@model FR.Domain.Model.Entities.Vote
<div id="@Url.Content("item" + Model.VoteId)" class="deleteButtons">
    @using (Ajax.BeginForm("DoReview", "Manage", new { id = Model.VoteId },
                        new AjaxOptions
                        {
                            UpdateTargetId = @Url.Content("item" + Model.VoteId),
                            OnBegin = "onReviewBegin('" + Model.VoteId + "')",
                            OnSuccess = "onReviewSuccess('" + Model.VoteId + "')",
                            OnFailure = "onReviewFailure('" + Model.VoteId + "')",
                            Confirm = "Do you want to " + @Url.Content(Model.Active ? "hide" : "open") + " the review: " + Model.Title + " ?"
                        }))
    {
                                                   
         <input type="submit" title="@Url.Content(Model.Active ? "To hide review" : "To open review")" value="@Url.Content(Model.Active ? "Hide the review for public" : "Open the review for public")" />
    }
</div>
